.root {
    -fx-background-color: #2C3531;
    -fx-font-size: 20;
    -fx-font-family: "Roboto Light";
}

.button {
    -fx-font-size: 14px;
    -fx-background-color: #D1E8E2;
    -fx-padding: 10;
    -fx-text-fill: black;
}

.button:hover{
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

HBox, VBox {
    -fx-alignment: center ;
    -fx-padding: 5 ;
}

.text-field {
    -fx-background-color: #116466;
    -fx-text-fill:#FFCB9A;
}

.text-area{
    -fx-background-color: #116466;
    -fx-text-fill: #FFCB9A;
}

.text-area .content{
    -fx-background-color: #116466;
    -fx-text-fill: #116466;
}

.label{
    -fx-text-fill: #FFCB9A;
}

.radio-button{
    -fx-text-fill: #FFCB9A;
}

.radio-button .button{
    -fx-background-color: #116466;
    -fx-border-color:#116466;
}

.check-box{
    -fx-text-fill: #FFCB9A;
}

.check-box .box {
    -fx-background-color: #116466;
    -fx-border-color:#116466;
    -fx-border-radius:3px;
}

.check-box:selected .box{
    -fx-background-color: #FFCB9A;
}
.check-box:selected .mark{
    -fx-background-color: #116466;
}

.scroll-pane {
    -fx-background: #116466;
    -fx-border-color: #116466;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(black,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#4D4C4F,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

